html{
    font-family: Rockwell;
    background-color:black;
    text-align:center;
}

.TOP{
    color:White;
    font-size: 2em;
    margin:0;
}

.logo{
    margin-left: 395px
}

.dates,.media{
    background-color:darkgray ;
    color: black;
    
    
}

li{
    margin:20px;
    font-size:1.2em;
    padding:20px
}

.merch{
    background-image: url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/13912676_1093861604024516_2829704921357750195_n.png?oh=bc1415c481d34ea58d2e62410fe97a84&oe=59001B7B);
    background-size: cover;
    height: 500px;
    color: cadetblue;
    font-size: 1.8em
}

img{
    float:left;
    width: 800px;
    
}

.about{
    color:white;
    
}

.social{
    color:white;
    
}

footer {
  font-size: 30px;
  padding: 20px 0;
  color: white;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
padding: 0 125px;
}

footer li img {
  width: 32px;
  height: 32px;
}
    
